body{
    margin: 0;
    padding: 0;
}

/* navbar style */
.navbar{
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
    background-color: #ffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(10px);
}
.navbar-brand{
    color: #333333;
}
.navbar .nav-link{
    color: #333333;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 1.25rem;
    margin: 0 8px;
}
.navbar .nav-link.active{
    color:  #0066FF;
    font-weight: 600;
}
.navbar .nav-link:hover{
    color: #0066FF;
}
.primary-btn{
    background-image: linear-gradient(90deg, #0066FF 0%, #00FFAA 100%);
    border:none;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    text-wrap: nowrap;
}
.primary-btn:hover{
    background-image: linear-gradient(90deg,rgba(11, 101, 236, 0.76) 0%,rgba(18, 216, 150, 0.78) 90%);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu {
    width: 60%;
    max-width: 700px;
    padding: 1rem 1.5rem;
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: none;
    height: 100vh;
    overflow-y: scroll;
}
.dropdown-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.service-card {
    display: block;
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.service-card:hover {
    background-color: #eef3f8f7;
}

.service-title {
    font-weight: 600;
    color: #111;
    margin-bottom: 0px;
    font-size: 15px;
}

.service-desc {
    font-size: 14px;
    color: #555d65ff;
    margin-bottom: 0px; 
}

/* hero section style */
.hero-section{
    padding-top: 12rem;
    padding-bottom: 6rem;
    background-color: #f4f9ff;
}
.hero-section .top-badge{
    width: 235px;
    background-color:rgba(219,234,254, 0.8);
    color: #0066FF;
    border-radius: 50px;
    padding: 0 2px;
}
.hero-section .top-badge:hover{
    background-color:rgba(198, 219, 246, 0.9);
    transition: background-color 0.3s ease;
}
.hero-section .top-badge p{
    font-size: 0.9rem;
    text-align: center;
}
.hero-section .top-badge p i{
    color: #0066FF;
    margin-right: 2px;
    font-size: 0.8rem;
}
.hero-section .hero-title{
    color: #333333;
    font-size: 4rem !important;
    line-height: 1.1 !important;
}
.main-text{
    background-image: linear-gradient(90deg, #0066FF 0%, #00FFAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text{
    font-size: 1.25rem !important;
    color: #4b5563 !important;
    font-weight: 400 !important;
    line-height: 1.8rem !important;
    margin-bottom: 2rem !important;
}
.hero-section a{
    text-decoration: none;
}
.hero-section .primary-btn2{
    border-radius: 5px;
}
.secondary-btn{
    background-color: transparent;
    border: 1px solid rgb(211, 221, 232);
    color: #4b5563;
    font-weight: 600;
    padding: 10px 16px;  
    border-radius: 5px;
    text-wrap: nowrap;
}
.secondary-btn:hover{
    background-color:rgb(225, 234, 244);
    border: 1px solid rgb(225, 234, 244);
    color: #4b5563;
}
.secondary-btn:active{
    background-color:rgb(225, 234, 244);
    border: 1px solid rgb(225, 234, 244);
}
.hero-section .hero-check-list span{
    font-size: 16px;
    color: #4b5563;
    font-weight: 400;
    margin: 0 0.5rem;
}
.hero-section .hero-check-list span i{
    color: #00FFAA;
    font-size: 1.3rem;
}

/* About Section style */

.about-text .secondary-paragraph-text{
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height:28px;
}
.divider{
    width: 80px;
    border: 2px solid #00FFAA;
}

/* Skills Section */
.skill-box {
    margin-bottom: 25px;
}

.progress {
    height: 14px;
    background-color: #333333;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    background-image: linear-gradient(to right, #0066ff 0%, #00ffaa 100%);
    border-radius: 50px;
}

.skill-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #333333;
    font-weight: 500;
    font-size: 17px;
}



/* Services-section */
.primary-heading{
    color: #333333;
    font-size: 2.5rem;
}
.primary-paragraph-text{
    color: #4b5563;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.services-section .services-card{
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 100%;
}
.services-section .services-card:hover{
    transform: translateY(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.08);

}
.services-section .services-card-icon{
    color: #0066FF;
    transition: color 0.3s ease;
}
.services-section .services-card:hover .services-card-icon{
    color: #00FFAA;
    transition: color 0.3s ease;
}
.services-section .secondary-heading{
    color: #333333;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}
.secondary-paragraph-text{
    color: #4b5563;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.3px;
}
.services-section .learn-more-btn{
    color: #0066FF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0.5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}
.services-section .learn-more-btn:hover{
    color: #00FFAA;
}

/* Process Section style */
.process-section{
    background-image: linear-gradient(135deg, #f9fafb, #eff6ff);
}
.process-step {
    margin-top: 30px;
}  
.step-number {
    width: 68px;
    height: 68px;
    margin: 0 auto 20px;  
    background: linear-gradient(135deg, #3366FF, #00FFAA);
    color: white;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.process-step:hover .step-number {
    background: linear-gradient(135deg, #0055cc, #00cc88);
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

/* Testimonial-section style */
.testimonial-section {
    background-color: #ffffff;
    position: relative;
}

.testimonial-card {
    background: white;
    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.08);
    padding: 2.5rem 1.5rem;
}
.testimonial-card .review-icons i {
    font-size: 1rem;
    color: #facc15;
}
.testimonial-card h5 {
    font-size: 1rem;
    margin-bottom: 0;
}
.testimonial-card span {
    font-size: 0.875rem;
    color: #4b5563;
}
.carousel-controls {
    position: absolute;
    right: 3.2rem;
    bottom: 1.8rem;
    z-index: 10;
}

.carousel-control-prev,
.carousel-control-next {
    width: 35px;
    height: 35px;
    background:linear-gradient(135deg, #3366FF, #00FFAA);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    opacity: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: linear-gradient(135deg, #0055cc, #00cc88);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 50% 50%;
}

/* Marketing Banner section style */
.marketing-banner-section {
    background: linear-gradient(135deg, #0055cc, #00cc88);
    padding: 3rem 1.5rem;
    text-align: center;
}
.marketing-banner-buttons a{
    text-decoration: none;
}
.marketing-banner-buttons .consultant-btn{
    padding: 10px 16px;
    color: #4b5563 !important;
    font-weight: 600 !important;
}
.marketing-banner-buttons .consultant-btn:hover{
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid rgb(225, 234, 244) !important;
}

/* Footer section style */
.footer-section{
    background-color: #111827;
}
.footer-section .secondary-paragraph-text{
    color: #9ca3af;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: light;  
}
.footer-section .social-icons a{
    color: #9ca3af;
    font-size: 1.3rem;
    margin-right: 15px;
    transition: color 0.3s ease;
    cursor: pointer;
}
.footer-section .social-icons a:hover{
    color: #00FFAA;
    transition: color 0.3s ease;
}
.footer-section .footer-links .nav-link{
    color: #9ca3af;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0.30rem 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section .footer-links a:hover{
    color: #00FFAA;
    transition: color 0.3s ease;
}

.footer-section .form input{
    background-color: #1f2937;
    color: #9ca3af;
    border: 1px solid rgba(161, 171, 188, 0.37);
}
 .footer-section .form input::placeholder{
    color: #9ca3af;
 }

 .footer-section .form input:focus{
    box-shadow: none;
 }

 /* Top Content Section style  */

.top-content-section{
    background-image: linear-gradient(135deg, #f9fafb, #eff6ff);
    padding-top: 6rem !important;
}
.top-content-section .main-text-section{
    width: 60%;
    margin: 0 auto;
}
.top-content-section .main-text-section .top-badge{
    width: 196px;
    background-color:rgba(219,234,254, 0.8);
    color: #0066FF;
    border-radius: 50px;
    padding: 0 2px;
}
.main-text-section .top-badge:hover{
    background-color:rgba(198, 219, 246, 0.9);
    transition: background-color 0.3s ease;
}
.main-text-section .top-badge p{
    font-size: 0.9rem;
    text-align: center;
}
.main-text-section .top-badge p i{
    color: #0066FF;
    margin-right: 2px;
    font-size: 0.8rem;
}
.main-text-section .hero-title{
    font-size: 3.5rem !important;
    line-height: 1.1 !important;
}
.process-page-badge{
    width: 170px !important;
}
.blogs-page-badge{
    width: 185px !important;
}
.portfolio-page-badge{
    width: 168px !important;
}
.contact-page-badge{
    width: 125px !important;
}

/* About Page style */

.about-section .about-text-cards{
    width: 100% !important;
    box-shadow: 1px 8px 12px rgba(0, 0, 0, 0.08) !important;
    border-radius: 8px !important;
}
.about-section .about-text-cards #about-vision{ 
    background: linear-gradient(135deg,rgb(17, 81, 171),rgb(12, 187, 129));
}
.about-section .about-text-cards:hover .step-number  {
    background: linear-gradient(135deg,rgb(28, 114, 235),rgb(17, 224, 155)) !important  ;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}
.about-section .about-text-cards .step-number i {
   font-size: 1.5rem;
}


/* Our Core Values Section */
.process-section .process-step #inovation{
    background: linear-gradient(to right, #2563eb, #0891b2) !important;
}
.process-section .process-step:hover #inovation {
    background: linear-gradient(to right,rgb(43, 92, 228),rgb(38, 172, 234)) !important;
}
.process-section .process-step #client-success{
    background: linear-gradient(to right, #16a34a, #0d9488) !important;
}
.process-section .process-step:hover #client-success {
    background: linear-gradient(to right, rgb(36, 186, 91), rgb(40, 183, 171)) !important;
}
.process-section .process-step #excellence{
    background: linear-gradient(to right, #9333ea, #db2777) !important;
}
.process-section .process-step:hover #excellence {
    background: linear-gradient(to right, rgb(171, 93, 245), rgb(234, 97, 159)) !important;
}

/* Our Team Section style */
.team-section .team-card{
    box-shadow: 1px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-section .team-card #accoupation-1{
    color: #2563eb;
}
.team-section .team-card #accoupation-2{
    color: #16a34a;
}
.team-section .team-card #accoupation-3{
    color:#9333ea;
}
.team-section .team-card .social-icons i{
    font-size: 1.3rem;
    color:rgb(42, 97, 186);
}
.team-section .team-card .social-icons i:hover{
    color:rgba(27, 192, 137, 0.81);
    transition: color 0.3s ease;
}


/* Generative AI Services Page style  */

#Generative-ai-top-section{
    background: linear-gradient(to bottom right, #ecfeff, #eff6ff) !important;
}
.Services-page-badge{
    width: 226px !important;
}
.top-content-section .services-top-icon{
    width: 78px;
    height: 75px;
    margin: 0 auto 20px;  
    background: linear-gradient(to right, #06b6d4, #3b82f6) !important;
    color: white;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
.top-content-section .services-page-icon{
    font-size: 1.9rem;
}
.top-content-section .services-main-text{
    background-image: linear-gradient(90deg, #06b6d4 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #services-page-btn{
    background-image: linear-gradient(90deg, #06b6d4 0%, #3b82f6 100%);
}
.top-content-section #services-page-btn:hover{
    background-image: linear-gradient(90deg,rgb(17, 152, 176) 0%,rgb(29, 98, 209) 90%);
}
.generative-ai-divider{
    width: 80px;
    border: 2px solid #06b6d4;
}
.process-cards .process-cards-content .services-check-icon{
    font-size:20px !important;
    margin-top:5px;
    color: #06b6d4;
}
#Generative-ai-marketing-banner{
    background-image: linear-gradient(135deg, #06b6d4, #3b82f6);
}


/* WorkFlow Automation Page Style */

#Workflow-automation-top-section{
    background: linear-gradient(to bottom right, #f0fdfa, #f0fdf4);
}
#workflow-automation-top-icon{
    background: linear-gradient(to right, #22c55e, #14b8a6) !important;
}
.top-content-section .workflow-automation-badge{
    background-color:rgba(34, 197, 94, 0.08) !important;
    color: #22c55e !important;
    width: 214px !important;
}
.top-content-section .workflow-automation-badge:hover{
    background-color:rgba(34, 182, 88, 0.16) !important;
}
.top-content-section .workflow-automation-main-text{
    background-image: linear-gradient(90deg, #22c55e 0%, #14b8a6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #workflow-automation-page-btn{
    background-image: linear-gradient(90deg, #22c55e 0%, #14b8a6 100%);
}
.top-content-section #workflow-automation-page-btn:hover{
    background-image : linear-gradient(90deg,rgb(24, 165, 76) 0%,rgb(14, 150, 134) 100%);
}
.workflow-automation-divider{
    width: 80px;
    border: 2px solid #14b8a6;
}
.process-cards .process-cards-content .workflow-automation-check-icon{
    color: #14b8a6;
    font-size: 20px;
    margin-top:5px;
}


/* Machine Learning Page Style */

#machine-learning-top-section{
    background: linear-gradient(to bottom right, #faf5ff, #fdf2f8);
}
#machine-learning-top-icon{
    background: linear-gradient(to right, #a855f7, #ec4899) !important;
}
.top-content-section .machine-learning-badge{
    background-color:rgba(169, 85, 247, 0.1) !important;
    color: #a855f7 !important;
    width: 282px !important;
}
.top-content-section .machine-learning-badge:hover{
    background-color:rgba(138, 55, 216, 0.16) !important;
}
.top-content-section .machine-learning-main-text{
    background-image: linear-gradient(90deg, #a855f7 0%, #ec4899 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #machine-learning-page-btn{
    background-image: linear-gradient(90deg, #a855f7 0%, #ec4899 100%);
}
.top-content-section #machine-learning-page-btn:hover{
    background-image: linear-gradient(90deg,rgb(143, 58, 222) 0%,rgb(212, 46, 129) 100%);
}
.machine-learning-divider{
    width: 80px;
    border: 2px solid #a855f7;
}
.process-cards .process-cards-content .machine-learning-check-icon{
    color: #a855f7;
    font-size: 20px;
    margin-top:5px;
}


/* Voice and Speach Page Style */

#voice-speach-top-section{
    background: linear-gradient(to bottom right, #fff7ed, #fef2f2);
}
#voice-speach-top-icon{
    background: linear-gradient(to right, #f97316, #ef4444)!important;
}
.top-content-section .voice-speach-badge{
    background-color:rgba(249, 116, 22, 0.09) !important;
    color: #f97316 !important;
    width: 282px !important;
}
.top-content-section .voice-speach-badge:hover{
    background-color:rgba(236, 111, 21, 0.15) !important;  
}
.top-content-section .voice-speach-main-text{
    background-image: linear-gradient(90deg, #f97316 0%, #ef4444 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #voice-speach-page-btn{
    background-image: linear-gradient(90deg, #f97316 0%, #ef4444 100%);
}
.top-content-section #voice-speach-page-btn:hover{
    background-image: linear-gradient(90deg,rgb(230, 108, 20) 0%,rgb(222, 48, 48) 100%);
}
.voice-speach-divider{
    width: 80px;
    border: 2px solid #f97316;
}
.process-cards .process-cards-content .voice-speach-check-icon{
    color: #f97316;
    font-size: 20px;
    margin-top:5px;
}


/* 3D Modeeling Page Style */

#ThreeD-modeling-top-section{
    background: linear-gradient(to bottom right, #ecfeff, #eff6ff);
}
#ThreeD-modeling-top-icon{
    background: linear-gradient(to right, #0e84c9ff, #16caeaff)!important;
}
.top-content-section .ThreeD-modeling-badge{
    background-color:rgba(6, 181, 212, 0.04) important;
    color:rgba(8, 143, 167, 0.9) !important;
    width: 194px !important;
}
.top-content-section .ThreeD-modeling-main-text{
    background-image: linear-gradient(90deg, #0e56c9ff 0%, #0db8d6ff 100%)!important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #ThreeD-modeling-page-btn{
    background-image: linear-gradient(90deg, #0e56c9ff 0%, #0db8d6ff 100%)!important;
}
.top-content-section #ThreeD-modeling-page-btn:hover{
    background-image: linear-gradient(90deg, #1250b4ff 0%, #10a0b9ff 100%)!important;
}
.ThreeD-modeling-divider{
    width: 80px;
    border: 2px solid #0e56c9ff;
}
.process-cards .process-cards-content .ThreeD-modeling-check-icon{
    color: #0e56c9ff;
    font-size: 20px;
    margin-top:5px;
}


/* Designing and Developemnt Page Style */

#Designing-Development-top-section{
    background: linear-gradient(to bottom right, #fdf2f8, #fff1f2);
}
#Designing-Development-top-icon{
    background: linear-gradient(to right, #f43f5e, #ec4899)!important;
}
.top-content-section .Designing-Development-badge{
    background-color:rgba(244, 63, 93, 0.09) !important;
    color: #f43f5e !important;
    width: 250px !important;
}
.top-content-section .Designing-Development-badge:hover{
    background-color:rgba(231, 47, 77, 0.15) !important;
}
.top-content-section .Designing-Development-main-text{
    background-image: linear-gradient(90deg, #f43f5e 0%, #ec4899 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Designing-Development-page-btn{
    background-image: linear-gradient(90deg, #f43f5e 0%, #ec4899 100%);
}
.top-content-section #Designing-Development-page-btn:hover{
    background-image: linear-gradient(90deg,rgb(216, 45, 73) 0%,rgb(210, 42, 126) 100%);
}
.Designing-Development-divider{
    width: 80px;
    border: 2px solid #f43f5e;
}
.process-cards .process-cards-content .Designing-Development-check-icon{
    color: #f43f5e;
    font-size: 20px;
    margin-top:5px;
}

/* Python-Automation Page Style */

#python-automation-top-section{
    background: linear-gradient(to bottom right, #fff7ed, #fefce8);
}
#python-automation-top-icon{
    background: linear-gradient(to right, #f97316, #eab308)!important;
}
.top-content-section .python-automation-badge{
    background-color:rgba(234, 178, 8, 0.1) !important;
    color: #f97316 !important;
    width: 240px !important;
}
.top-content-section .python-automation-badge:hover{
    background-color:rgba(194, 89, 14, 0.13) !important;
}
.top-content-section .python-automation-main-text{
    background-image: linear-gradient(90deg, #f97316 0%, #eab308 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #python-automation-page-btn{
    background-image: linear-gradient(90deg, #f97316 0%, #eab308 100%);
}
.top-content-section #python-automation-page-btn:hover{
    background-image: linear-gradient(90deg,rgb(222, 102, 17) 0%,rgb(206, 158, 12) 100%);
}
.python-automation-divider{
    width: 80px;
    border: 2px solid #f97316;
}
.process-cards .process-cards-content .python-automation-check-icon{
    color: #f97316;
    font-size: 20px;
    margin-top:5px;
}


/* Consultion and Coaching Page Style */

#consultion-coaching-top-section{
    background: linear-gradient(to bottom right, #eef2ff, #faf5ff);
}
#consultion-coaching-top-icon{
    background: linear-gradient(to right, #6366f1, #a855f7)!important;
}
.top-content-section .consultion-coaching-badge{
    background-color:rgba(99, 101, 241, 0.09) !important;
    color: #6366f1 !important;
    width: 194px !important;
}
.top-content-section .consultion-coaching-badge:hover{
    background-color:rgba(99, 101, 241, 0.18) !important;
}
.top-content-section .consultion-coaching-main-text{
    background-image: linear-gradient(90deg, #6366f1 0%, #a855f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #consultion-coaching-page-btn{
    background-image: linear-gradient(90deg, #6366f1 0%, #a855f7 100%);
}
.top-content-section #consultion-coaching-page-btn:hover{
    background-image: linear-gradient(90deg,rgb(79, 82, 230) 0%,rgb(141, 52, 224) 100%);
}
.consultion-coaching-divider{
    width: 80px;
    border: 2px solid #6366f1;
}
.process-cards .process-cards-content .consultion-coaching-check-icon{
    color: #6366f1;
    font-size: 20px;
    margin-top:5px;
}

/* Blockchain-ai and Crypto Page Style */

#Blockchain-ai-top-section{
    background: linear-gradient(to bottom right, #fff7eeff, #fef5ffff);
}
#Blockchain-ai-top-icon{
    background: linear-gradient(to right, #f17f63ff, #8c1af7ff)!important;
}
.top-content-section .Blockchain-ai-badge{
    background-color: #f17f6318 !important;
    color: #f17f63ff !important;
    width: 194px !important;
}
.top-content-section .Blockchain-ai-badge:hover{
    background-color: #dd60411f !important;
}
.top-content-section .Blockchain-ai-main-text{
    background-image: linear-gradient(90deg, #f17f63ff 0%, #8c1af7ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Blockchain-ai-page-btn{
    background-image: linear-gradient(90deg, #f17f63ff 0%, #8c1af7ff 100%);
}
.top-content-section #Blockchain-ai-page-btn:hover{
    background-image: linear-gradient(90deg, #df6d51ff 0%, #831ce3ff 100%);
}
.Blockchain-ai-divider{
    width: 80px;
    border: 2px solid #df6d51ff;
}
.process-cards .process-cards-content .Blockchain-ai-check-icon{
    color: #df6d51ff;
    font-size: 20px;
    margin-top:5px;
}

/* Game-Develpment and Meteverse Page Style */

#Game-Develpment-top-section{
    background: linear-gradient(to bottom right, #fffdeeff, #f5faffff);
}
#Game-Develpment-top-icon{
    background: linear-gradient(to right, #e51da9ff, #e7a31bdb )!important;
}
.top-content-section .Game-Develpment-badge{
    background-color: #e51da91a !important;
    color: #e51da9ff !important;
    width: 256px !important;
}
.top-content-section .Game-Develpment-badge:hover{
    background-color: #e51da91f !important;
}
.top-content-section .Game-Develpment-main-text{
    background-image: linear-gradient(90deg, #e51da9ff 0%, #e7a31bdb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Game-Develpment-page-btn{
    background-image: linear-gradient(90deg, #e51da9ff 0%, #e7a31bdb 100%);
}
.top-content-section #Game-Develpment-page-btn:hover{
    background-image: linear-gradient(90deg, #cc1395ff 0%, #cc8e11db 100%);
}
.Game-Develpment-divider{
    width: 80px;
    border: 2px solid #e51da9ff;
}
.process-cards .process-cards-content .Game-Develpment-check-icon{
    color: #e51da9ff;
    font-size: 20px;
    margin-top:5px;
}

/* VR-AR-Development Page Style */

#VR-AR-Development-top-section{
    background: linear-gradient(to bottom right, #fffdeeff, #f5faffff);
}
#VR-AR-Development-top-icon{
    background: linear-gradient(to right, #e0c811ff, #05d327ac)!important;
}
.top-content-section .VR-AR-Development-badge{
    background-color: #05d32717!important;
    color: #05d327ac !important;
    width: 190px !important;
}
.top-content-section .VR-AR-Development-badge:hover{
    background-color: #0ab8271c !important;
}
.top-content-section .VR-AR-Development-main-text{
    background-image: linear-gradient(90deg, #e0c811ff 0%, #05d327ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #VR-AR-Development-page-btn{
    background-image: linear-gradient(90deg, #e0c811ff 0%, #05d327ac 100%);
}
.top-content-section #VR-AR-Development-page-btn:hover{
    background-image: linear-gradient(90deg, #cbb40aff 0%, #07ba25ac 100%);
}
.VR-AR-Development-divider{
    width: 80px;
    border: 2px solid #07ba25ac;
}
.process-cards .process-cards-content .VR-AR-Development-check-icon{
    color: #07ba25ac;
    font-size: 20px;
    margin-top:5px;
}

/* Ai-medical and Healthcare Page Style */

#Ai-medical-top-section{
    background: linear-gradient(to bottom right, #f7f9f0ff, #f9f2f6ff);
}
#Ai-medical-top-icon{
    background: linear-gradient(to right, #b0df23ff, #f0178eff)!important;
}
.top-content-section .Ai-medical-badge{
    background-color: #f0178e16 !important;
    color: #f0178eff !important;
    width: 218px !important;
}
.top-content-section .Ai-medical-badge:hover{
    background-color: #f0178e1e !important;
}
.top-content-section .Ai-medical-main-text{
    background-image: linear-gradient(90deg, #b0df23ff 0%, #f0178eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Ai-medical-page-btn{
    background-image: linear-gradient(90deg, #b0df23ff 0%, #f0178eff 100%);
}
.top-content-section #Ai-medical-page-btn:hover{
    background-image: linear-gradient(90deg, #9ec91eff 0%, #cd167bff 100%);
}
.Ai-medical-divider{
    width: 80px;
    border: 2px solid #f0178eff;
}
.process-cards .process-cards-content .Ai-medical-check-icon{
    color: #f0178eff;
    font-size: 20px;
    margin-top:5px;
}

/* Ai-hospitality and Tourism Page Style */

#Ai-hospitality-top-section{
    background: linear-gradient(to right, #f6fcffff, #f6ffffff)!important;
}
#Ai-hospitality-top-icon{
    background-image: linear-gradient(90deg, #1500feec 0%, #a927dcec 100%) !important; 
}
.top-content-section .Ai-hospitality-badge{
    background-color: #1500fe14!important;
    color: #1500feec !important;
    width: 200px !important;
}
.top-content-section .Ai-hospitality-badge:hover{
    background-color: #1500fe21 !important;
}
.top-content-section .Ai-hospitality-main-text{
    background-image: linear-gradient(90deg,  #1500feec 0%, #a927dcec 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Ai-hospitality-page-btn{
    background-image: linear-gradient(90deg,  #1500feec 0%, #a927dcec 100%);
}
.top-content-section #Ai-hospitality-page-btn:hover{
    background-image: linear-gradient(90deg,  #1d0aeeec 0%, #9311c7ec 100%);
}
.Ai-hospitality-divider{
    width: 80px;
    border: 2px solid #1500feec;
}
.process-cards .process-cards-content .Ai-hospitality-check-icon{
    color: #1500feec;
    font-size: 20px;
    margin-top:5px;
}

/* Ai-Saas-Development Page Style */

#Ai-Saas-Development-top-section{
    background: linear-gradient(to right, #fbfaefff, #fbf2faff)!important;
}
#Ai-Saas-Development-top-icon{
    background-image: linear-gradient(90deg,  #f0dc46ff 0%, #bd1eb5ff 100%) !important;
}
.top-content-section .Ai-Saas-Development-badge{
    background-color: #f0dc4616 !important;
    color: #f0dc46ff !important;
    width: 188px !important;
}
.top-content-section .Ai-Saas-Development-badge:hover{
    background-color: #f0dc4627 !important;
}
.top-content-section .Ai-Saas-Development-main-text{
    background-image: linear-gradient(90deg,  #f0dc46ff 0%, #bd1eb5ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Ai-Saas-Development-page-btn{
    background-image: linear-gradient(90deg,  #f0dc46ff 0%, #bd1eb5ff 100%) !important;
}
.top-content-section #Ai-Saas-Development-page-btn:hover{
    background-image: linear-gradient(90deg,  #d2bf2eff 0%, #b518adff 100%) !important;
}
.Ai-Saas-Development-divider{
    width: 80px;
    border: 2px solid #d2bf2eff;
}
.process-cards .process-cards-content .Ai-Saas-Development-check-icon{
    color: #d2bf2eff;
    font-size: 20px;
    margin-top:5px;
}

/* Ai-Calling-Agents Page Style */

#Ai-Calling-Agents-top-section{
    background: linear-gradient(to right, #faefefff, #f4fdfcff)!important;
}
#Ai-Calling-Agents-top-icon{
    background-image: linear-gradient(90deg,   #ef0d0dff 0%, #10dcc8ff 100%) !important;
}
.top-content-section .Ai-Calling-Agents-badge{
    background-color: #ef0d0d14 !important;
    color: #ef0d0dff !important;
    width: 240px !important;
}
.top-content-section .Ai-Calling-Agents-badge:hover{
    background-color: #ef0d0d17 !important;
}
.top-content-section .Ai-Calling-Agents-main-text{
    background-image: linear-gradient(90deg,   #ef0d0dff 0%, #10dcc8ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-content-section #Ai-Calling-Agents-page-btn{
    background-image: linear-gradient(90deg, #ef0d0dff 0%, #10dcc8ff 100%) !important;
}
.top-content-section #Ai-Calling-Agents-page-btn:hover{
    background-image: linear-gradient(90deg,   #dc1212f5 0%, #0dc4b2ee 100%) !important;
}
.Ai-Calling-Agents-divider{
    width: 80px;
    border: 2px solid #dc1212f5;
}
.process-cards .process-cards-content .Ai-Calling-Agents-check-icon{
    color: #dc1212f5;
    font-size: 20px;
    margin-top:5px;
}


/* Process Page style */

.process-cards{
    width:100%;
    height: 100%;
}
.process-cards:hover{
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.process-cards .process-check-list p i {
    color: #00FFAA;
    font-size: 1.3rem !important;
}
#process-cards-icon{
    width: 100px !important;
    height: 100px !important;
    margin: 0 auto 20px !important;  
    background: linear-gradient(135deg,rgba(51, 102, 255, 0.18),rgba(0, 255, 170, 0.17)) !important;
    font-size: 40px;
    transition: transform 0.3s ease;
}
#process-cards-icon i{
    color:rgb(15, 206, 142) !important;
    font-size: 40px !important;
}


/* Portfolio Page Style */

#portfolio-cards-section .card:hover{
    box-shadow: 1px 12px 12px rgba(0, 0, 0, 0.1);
    transition: .3s;
}
#portfolio-cards-section .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transform-origin: center center;
    transition: transform 0.4s ease;
    display: block;
    z-index: 1;
    position: relative;
}
#portfolio-cards-section .card:hover img {
    transform: scale(1.1); 
}
#portfolio-cards-section .card .card-badge{
    top:20px;
    left: 20px;
    z-index: 3;
    font-size: 13px;
    color: #000000bc;
    font-weight: 500;
}
#portfolio-cards-section .card .card-body{
    position: relative;
    z-index: 2;
    background-color: white;
}
#portfolio-cards-section .card .card-badges{
    font-size: 13px;
    color: #000000bc;
    font-weight: 500;
    text-wrap: nowrap;
}
#portfolio-cards-section .card .portfolio-card-text{
    font-weight: 500;
}
#portfolio-cards-section .card .view-icon{
    font-size: 0.8rem !important;
    background-color: #ffffff;
    padding: 10px 12px;
    transition: 0.3s ease;
}
#portfolio-cards-section .card .view-icon:hover{
    background-color: #d9e4f1cc;
    over-flow: hidden;
    border-radius: 4px;
    transition: 0.3s ease;
}
.process-step .portfolio-projcet-complete-text{
    color: #9333ea;
}
.process-step .portfolio-client-statisfy-text{
    color: #2563eb;
}
.process-step .portfolio-happy-client-text{
    color: #16a34a;
}
.process-step .portfolio-experience-text{
    color: #ea580c;
}

/* Blogs page style */

#portfolio-cards-section #blogs-cards:hover h5{
    color: #0066FF; 
}
.article-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-top-badge{
    width: 70%;
}
.badge-featured {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 30px;
    background-color: #00ffaa26;
    color: #0da472e1;
    font-weight: 500;
}
.tag-badge {
    background-color: #333333;
    color: white;
    padding: 0px 12px;
    padding-bottom: 4px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
}
.read-btn {
    background-image: linear-gradient(90deg, #0066FF 0%, #00FFAA 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 500;
}
.read-btn:hover {
    background-image: linear-gradient(90deg, #0c5fdbff 0%, #11d291ff 100%);
}

.meta-info i {
    margin-right: 6px;
}

.meta-info span {
    margin-right: 16px;
    font-size: 14px;
    color: #6c757d;
}


/* Contact Page Style */

.card-box {
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
.card-box label{
    font-weight: 600;
    color: #333333;
    font-size: 15px;
    margin: 5px 3px;
}
.form-control, .form-select {
    border-radius: 8px;
    padding: 11px 14px;
    font-size: 14px;
}
.card-box .form-control:focus{
    box-shadow: none;
}
.send-btn {
    background-image: linear-gradient(90deg, #0066FF 0%, #00FFAA 100%);
    border:none;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    text-wrap: nowrap;
    width: 100%;
    color: white;
}
.send-btn:hover{
    background-image: linear-gradient(90deg, #0f5dd3ff 0%, #08e098ff 100%);
}

.info-card {
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.info-icon {
    font-size: 20px;
}
.contact-us-icons{
    background-image: linear-gradient(90deg, #0066FF 0%, #00FFAA 100%);
    color: #ffffff;
    width:50px;
    height:50px;
    border-radius: 50%;
}
#call{
    background-image: linear-gradient(90deg, #2563eb 0%, #9333ea 100%);
}
#location{
    background-image: linear-gradient(90deg, #ea580c 0%, #dc2626 100%);
}
#business-hours{
    background-image: linear-gradient(90deg, #9333ea 0%, #db2777 100%);
}
.info-green {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
}
.info-title {
    font-weight: 600;
    color: #333333;
}
.cta-box {
    background-image: linear-gradient(90deg, #0066FF 0%, #00FFAA 100%);
    color: white;
    border-radius: 8px;
    padding: 24px;
    margin-top: 20px;
}
.cta-btn {
    width: 100%;
    background-color: white;
    border:1px solid #ffffffff;
    color: #5f7afe;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 20px;
}
.cta-btn:hover{
    background-color: transparent;
    border:1px solid #ffffffff;
    color: #ffffff;
}



/* Media Curies */

@media (max-width: 992px) {
    .hero-section{
        padding-top: 8rem !important;
        padding-bottom: 4rem;
    }
    .hero-section .hero-title{
        font-size: 2.6rem !important;
    }
    .hero-section .hero-text{
        font-size: 1.1rem !important;
    }
    .main-text-section .hero-title{
        font-size: 2.6rem !important;
    }
    .hero-section .hero-check-list span{
        font-size: 14px;
    }

    /* About page style (top-content-section) */
    .top-content-section{
        padding-top: 5rem !important;
    }
    .top-content-section .main-text-section{
        width: 100%;
    }
    .main-text-section .hero-text{
        font-size: 1.1rem !important;
    }
    #process-cards-icon{
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) {
    .dropdown-grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .navbar{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .hero-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .services-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .about-text{
        width: 90% !important;
    }
    .about-section .about-text-cards{
        width: 100% !important;
    }
    .primary-heading{
        font-size: 2rem !important;
    }
    .secondary-heading{
        font-size: 1.2rem !important;
    }
    .primary-paragraph-text{
        font-size: 1.1rem !important;
    }
    .process-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .process-step {
        margin-bottom: 30px;
        }
    .testimonial-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .marketing-banner-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .footer-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .copy-right-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    /* About page style (top-content-section) */

    .top-content-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .about-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .team-section{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .article-card{
        width:100%;
    }
    .article-top-badge{
        width:100%;
    }
}

@media (max-width: 572px) {
    .marketing-banner-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .marketing-banner-buttons a{
        margin-bottom: 15px;
    }
     .process-cards .process-cards-content{
        display:flex !important;
        flex-direction: column !important;
        justify-content: left !important;
        text-align: left !important;            
    }
    .process-cards #services-cards-content{
        display: flex;
        flex-direction: row !important;
        justify-Content: left !important;
    }
    .process-cards #services-cards-content h3{
        font-size: 18px !important;
    }
    .process-cards .process-cards-content .process-steps{
        margin-right: auto !important;
     }
     .process-cards .process-cards-content .process-steps .step-number{
        margin-bottom: 0 !important;
     }
    .process-cards .process-check-list{
        display: flex !important;
        flex-direction: column;
    }
    .first-checklist{
        width:100% !important;
    }
    #portfolio-cards-section .card .card-badges-head{
        display:flex !important;
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;
    }
    #portfolio-cards-section .card .card-badges-head .card-badges{
        margin:10px 0 !important;
    }
}

@media (max-width: 425px) {
    .hero-section-btns{
        display: flex;
        flex-direction: column;
    }
    .hero-section-btns button{
        margin: 8px 0;
    }
    .hero-section-btns .secondary-btn{
        margin-left: 0px !important;
    }
}



